version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: ttt-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: tic_tac_toe
      MYSQL_USER: tictac_user
      MYSQL_PASSWORD: StrongPassword123!
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: ttt-app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    env_file:
      - .env

volumes:
  mysql_data:
